body {
    display: flex;
    gap: 2vw;
    padding: 0 2vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: var(--logeerpartijtje-background);
}

@keyframes toggledashboard {
    0% {
        top: 200vh;
    }
    100% {
        top: 50vh;
    }
}

@keyframes hidewheelspinner {
    0% {
        top: 50vh;
    }
    100% {
        top: -50vh;
    }
}

div#dashboard {
    position: relative;
    top: 50vh;
    animation-name: toggledashboard;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: 2s ease-in-out;
    height: 200vh;
    width: 84vw;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    grid-template-rows: 8fr 4fr 3fr 1fr;
    grid-template-areas:    "ws ws ws ws"
                            "kk hs hs hs"
                            "wb hs hs hs"
                            "wb pt hw kw";
    box-shadow: 0 0 2vw rgba(0, 0, 0, 1);
}

#koningkaarten {grid-area: kk;}
#heksensoep {grid-area: hs;}
#wheelspinner {grid-area: ws;}
#wieaandebeurt {grid-area: wb}
#presentatie {grid-area: pt;}
#koningwisselaar {grid-area: kw;}
#hekswisselaar {grid-area: hw;}

#presentatie, #koningwisselaar, #hekswisselaar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background: linear-gradient(0deg, var(--gradient-purple-light), var(--gradient-purple-dark));
}

#hekswisselaar {
    background: linear-gradient(0deg, var(--gradient-blue-light), var(--gradient-blue-dark));
}

#presentatie > button {
    width: 95%;
    height: 70%;
    font-size: 4vh;
}

#koningwisselaar > button, #hekswisselaar > button {
    width: 50%;
    height: 40%;
    font-size: 2.5vh;
}

#koningwisselaar > input, #hekswisselaar > input {
    width: 95%;
    height: 40%;
    font-size: 2.5vh;
    border: none;
    border-radius: 1vw;
    text-align: center;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
}

article {
    margin: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5vh solid var(--purple-color);
    border-radius: 2vw;
    height: 92vh;
    width: 12vw;
    background-color: var(--transparent-white-color);
    font-family: 'Montserrat', sans-serif;
}

article > div {
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

p, h1, li {
    color: var(--black-text-color);
    font-size: 5vh;
}

li {
    list-style: number;
    list-style-position: inside;
    direction: ltr;
    width: fit-content;
}


section:nth-child(1n+2){
    align-items: center;
    display: flex;
    flex-direction: column;
}

