:root {
    --purple-color: #9d1900;
    --pink-color: #c9472d;
    --hover-pink-color: #c9472d5a;
    --hover-blue-color: #01812e;
    --light-blue-color: #80A256;
    --blue-color: #006223;
    --transparent-black-color: rgba(0, 0, 0, 0.85);
    --text-color: #f7f6dd;
    --black-text-color: #20160b;
    --transparent-white-color: #f7f6ddb3;
    --background-image: url('../img/engevibingsbg-xmas1-withball.jpg');
    --header-logeerpartijtje-background: url(../img/logeerpartijtje-kerst-red.png);
    --logeerpartijtje-background: linear-gradient(to bottom, #5b1111, #012a11);
    --gray-color: #D29119;
    --light-gray-color: #F0EC66;
    --transparent-gray-color: #ECA42499;
    --transparent-light-gray-color: #F0EC6699;
    --transparent-gray-border: #fcb40099;
    --wheelspinner-button-text-shadow: 0.35vh 0.5vh 1vh rgba(0, 0, 0, 0.75);
    --transparent-light-blue: #b933335c;
    --gradient-purple-dark: #aa4646;
    --gradient-purple-light: #cdbf94;
    --gradient-blue-dark: #1b511b;
    --gradient-blue-light: #cdbf94;
    --standard-font: 'Montserrat', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, i {
    font-family: var(--standard-font);
    color: var(--text-color);
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
    transition: 750ms linear;
    user-select: none;
}

button {
    font-family: var(--standard-font);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    width: 100%;
    padding: 2vh 4vh;
    border: none;
    border-radius: 4vh;
    background-color: var(--purple-color);
    color: var(--text-color);
    transition: 500ms;
    text-shadow: 0 0 1vh rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: var(--hover-blue-color);
    transition: 500ms;
    cursor: pointer;
}

button:active {
    background-color: var(--pink-color);
    transition: 500ms;
}

#selected {
    background-color: var(--pink-color);
    transition: 500ms;
    cursor: unset;
}