* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

:root {
    --purple-color: #A22F9B;
    --pink-color: #DD41B8;
    --hover-pink-color: #DD41B85a;
    --blue-color: #09072B;
    --text-color: #FCFAFA;

    --regular: normal;
    --medium: 500;
    --semi-bold: 600;
    --bold: bold;
}

body {
    background-image: url('../img/bg.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100vh;
    width: 100vw;
}

main {
    grid-area: m;
    display: flex;
    flex-direction: column;
    height: 69vh;
    width: 69vw;
    border: var(--purple-color) 1px solid;
    border-bottom: none;
    border-top: none;
    border-radius: 1vw 1vw 0 0;
    overflow: hidden;
    box-shadow: black 0 0 1vw;
}

nav {
    background-color: var(--purple-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav > ul > li {
    position: relative;
    padding: 1vh 0.75rem;
    height: fit-content;
    cursor: pointer;
    transition: 500ms;
}

nav > ul > li:hover {
    background-color: var(--hover-pink-color);
    transition: 500ms;
}

nav > ul > li > p {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

nav > ul > li#currentpage{
    background-color: var(--pink-color);
    cursor: default;
}

content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67vh;
    background-color: black;
}

footer{
    grid-area: f;
    background-color: var(--blue-color);
    color: var(--text-color);
    padding: 2vh;
    text-align: center;
    width: 100vw;
}

footer > p {
    font-weight: var(--semi-bold);
}

@media only screen and (max-width: 1040px) {
    body::before {
        content: 'Sorry, you need to be on a desktop to use this page.';
        position: absolute;
        display: flex;
        background-color: white;
        color: black;
        width: 100vw;
        height: 100vh;
        text-align: center;
        z-index: 1000;
    }
}