@keyframes addColorToSoep {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-image: url('../../img/heksensoep.svg'), linear-gradient(to bottom, #91389f, #91389f, #91389f, #91389f, #623488, #382b6c, #151f4c, #000f2c);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.ketel-inhoud {
    transition: 500ms;
    animation: addColorToSoep 500ms ease-in forwards;
}

#ketel {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#ketel-bubbels {
    position:absolute;
    width:17%;
    height: 69%;
    z-index:0;
    overflow:hidden;
    top:0;
}

article {
    margin: 7vh;
    margin-left: 0;
    width: 61vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 4vh;
    justify-content: center;
    align-items: left;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 2vw;
}

#ingredienten-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.ingredient, #monsterratstoom, #zuurvandedoden, #spinnenweb, #konijnenkeutel, #uilenveer, #voetenmartelaar, #regenworm, #strontvliegje, #junkybloed, #spiddermanen, #levenderijst, #oggysangst{
    border-radius: 1vw;
    background-image: radial-gradient(var(--kokend-water), #D9D9D9 80%);
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    transition: 500ms;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.ingredient, #monsterratstoom, #zuurvandedoden, #spinnenweb, #konijnenkeutel, #uilenveer, #voetenmartelaar, #regenworm, #strontvliegje, #junkybloed, #spiddermanen, #levenderijst, #oggysangst{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(var(--kokend-water), #D9D9D9 80%);
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    transition: 500ms;
}

#monsterratstoom{background-image: radial-gradient(var(--monsterratstoom-insoep), transparent 80%);}
#zuurvandedoden {background-image: radial-gradient(var(--zuurvandedoden-insoep), transparent 80%);}
#spinnenweb     {background-image: radial-gradient(var(--spinnenweb-insoep), transparent 80%);}
#konijnenkeutel {background-image: radial-gradient(var(--konijnenkeutel-insoep), transparent 80%);}
#uilenveer      {background-image: radial-gradient(var(--uilenveer-insoep), transparent 80%);}
#voetenmartelaar{background-image: radial-gradient(var(--voetenmartelaar-insoep), transparent 80%);}
#regenworm      {background-image: radial-gradient(var(--regenworm-insoep), transparent 80%);}
#strontvliegje  {background-image: radial-gradient(var(--strontvliegje-insoep), transparent 80%);}
#junkybloed   {background-image: radial-gradient(var(--junkybloed-insoep), transparent 80%);}
#spiddermanen   {background-image: radial-gradient(var(--spiddermanen-insoep), transparent 80%);}
#levenderijst   {background-image: radial-gradient(var(--levenderijst-insoep), transparent 80%);}
#oggysangst     {background-image: radial-gradient(var(--oggysangst-insoep), transparent 80%);}

.ingredient .bgimg, .ingredient .threebgimg {
    background-image: url('../../img/ingredienten/bg.jpg');
    background-size: cover;
    background-position: left;
    border-radius: 1vw;
    width: 19vh;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    margin: 1vh;
    margin-bottom: 0;
}

.ingredient .threebgimg {
    background-image: url('../../img/ingredienten/3bg.jpg');
}

.ingredient .bgimg > img, .ingredient .threebgimg > img {
    width: 50%;
    height: 70%;
    transition: 500ms;
}

.ingredient:hover{
    transform: scale(1.1);
    transition: 500ms;
    cursor: pointer;
}

.ingredient:hover .bgimg > img, .ingredient:hover .threebgimg > img {
    transform: scale(1.3);
    filter: drop-shadow(0 0 1vw rgba(0, 0, 0, 0.25));
    transition: 500ms;
}

.ingredient.used:hover {
    transform: scale(1);
    cursor: default;
}

.ingredient.used:hover .bgimg > img, .ingredient.used:hover .threebgimg > img {
    transform: scale(1);
}

p, h1 {
    font-family: 'AnOldWitch', sans-serif;
    color: black;
    font-size: 2.8vh;
    margin: 1vh;
    margin-top: 0;
    margin-bottom: 1vw;
}

h1 {
    font-size: 7vh;
    margin: 0;
}

svg {
    width: 30vw;
    margin-bottom: 7vh;
}

.used {
    filter: grayscale(100%);
    transition: 500ms;
}

.used #monsterratstoom, .used #zuurvandedoden, .used #spinnenweb, .used #konijnenkeutel, .used #uilenveer, .used #voetenmartelaar, .used #regenworm, .used #strontvliegje, .used #junkybloed, .used #spiddermanen, .used #levenderijst, .used #oggysangst{
    background: none;
    transition: 500ms;
}

path.added-color {
    animation: addColorToSoep 500ms ease-in forwards;
}