:root {
    --huidige-soepkleur: var(--kokend-water);
    --kokend-water: #8ed1e3;
    --groene-soep: #00ff00;
    --rode-soep: #ff0000;
    --blauwe-soep: #0000ff;
    --gele-soep: #ffff00;
    --paarse-soep: #800080;
    --oranje-soep: #ff7f00;
    --witte-soep: #ffffff;
    --bruine-soep: #a52a2a;
    --roze-soep: #ff69b4;
    --turquoise-soep: #40e0d0;
}