body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #3CBEDE33;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

.wheel-container {
    overflow: hidden;
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    filter: drop-shadow(0 0 1vh black);
}

#spinbutton {
    width: 19vh;
    height: 19vh;
    background-image: linear-gradient(180deg, var(--light-gray-color), var(--gray-color));
    color: var(--text-color);
    -webkit-text-stroke: -0.1vh var(--gray-color);
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-shadow: var(--wheelspinner-button-text-shadow);
    border-radius: 50%;
    user-select: none;
}

#spinbutton-container{
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: linear-gradient(180deg, var(--gray-color), var(--light-gray-color));
    transform: translate(-50%, -50%);
    width: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

#spinbutton-container:active > #spinbutton {
    width: 17.5vh;
    height: 17.5vh;
}

svg {
    position: absolute;
    width: 15vh;
    height: 15vh;
    transform: translate(-50%, -50%);
    top: 13vh;
    left: 50%;
    z-index: 100;
}

aside {
    border-radius: 4vh;
    padding: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, var(--transparent-gray-border), var(--transparent-gray-border));
}

aside > div#buttonwrapper {
    border-radius: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    padding: 5vh;
    background-image: linear-gradient(180deg, var(--transparent-light-gray-color), var(--transparent-gray-color));
}